.project_card {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-flow: column wrap;
  gap: 2.4rem;
}

.project_title {
  padding: 1rem 0;
  font: var(--text-project-title);
  color: var(--color-black);
}

.project_tags {
  font: var(--text-project-tags);
  color: var(--color-grey);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
}

.project_tags > span {
  padding: .2rem .4rem;
  background: var(--color-white-low);
  border-radius: .4rem;
  color: var(--color-orange);
}

.project_description {
  font: var(--text-phrase);
  color: var(--color-grey);
}

.project_card > div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.project_card > div > a {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  font: var(--text-button);
  color: var(--color-black);
}
