:root {
  /* Colors */
  --color-orange: #FF5500;
  --color-orange-low: #FF7500;
  --color-blue: #0055FF;
  --color-black: #222;
  --color-grey: #495555;
  --color-white: #FFF;
  --color-white-low: #F1F3F5;
  --color-white-shadow: #F8F9FA;
  --color-gradient-orange: linear-gradient(180deg, var(--color-orange), var(--color-orange-low));
  --color-gradient-orange-alt: linear-gradient(0deg, var(--color-orange), var(--color-orange-low));
  --color-gradient-black: linear-gradient(180deg, var(--color-black), var(--color-grey));
  --color-gradient-black-alt: linear-gradient(0deg, var(--color-black), var(--color-grey));

  /* Fonts */
  --text-home-title: 700 4rem var(--font-lexend);
  --text-section-title: 700 3.2rem var(--font-lexend);
  --text-header-title: 600 2rem var(--font-inter);
  --text-button: 600 1.6rem var(--font-inter);
  --text-phrase: 400 1.6rem var(--font-inter);
  --text-project-title: 500 2.4rem var(--font-lexend);
  --text-project-tags: 500 1.4rem var(--font-inter);
  --text-project-links: 500 1.6rem var(--font-inter);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-size: 10px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
