.header {
  width: 100%;
  background: var(--color-white);
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.8rem 0;
}
